# Docker environment
BUILD_TARGET=development

# Django environment
SECRET_KEY=supersecretkey
DEBUG=True

DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_USERNAME=admin

# Django + PostgreSQL environment
POSTGRES_HOST=postgres
POSTGRES_DB=dbname
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpass
POSTGRES_PORT=5432

# HeadHunter
HH_CLIENT_ID=client_id
HH_CLIENT_SECRET=client_secret
HH_ACCESS_TOKEN=access_token
HH_EMAIL=email
HH_APP_NAME=app_name

# REDIS
REDIS_CACHE_LOCATION=redis://redis:6379/1
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0