# Docker environment. development/production
BUILD_TARGET=production

# Django environment
SECRET_KEY=supersecretkey
DJANGO_LOG_LEVEL=INFO

# Only for development. Does not work in production
DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_USERNAME=admin

SITE_DOMAIN=localhost:3000
SITE_NAME="syncIT"

EMAIL_HOST_USER=example@gmail.com
EMAIL_HOST_PASSWORD=password

GO_PROXY_URL=http://go:9000

# Django + PostgreSQL environment
POSTGRES_HOST=postgres
POSTGRES_DB=dbname
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpass
POSTGRES_PORT=5432

# HeadHunter
HH_CLIENT_ID=client_id
HH_CLIENT_SECRET=client_secret
HH_ACCESS_TOKEN=access_token
HH_EMAIL=email
HH_APP_NAME=app_name

# AUTH
SOCIAL_AUTH_GITHUB_KEY=key
SOCIAL_AUTH_GITHUB_SECRET=secret

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=key
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=secret

# REDIS
REDIS_CACHE_LOCATION=redis://redis:6379/1
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CELERY_LOG_LEVEL=INFO

# Telegram notifier
TELEGRAM_NOTIFIER_BOT_TOKEN=1234:abcde
TELEGRAM_NOTIFIER_CHAT_ID=123456789
